<style>
    .bottom {
        background: #1b1b1b;
        height: 180px;
    }
    
    .cnt_center {
        width: 1200px;
        margin: 0 auto;
        height: 100%;
    }
    
    .bottom dl {
        float: left;
        padding-top: 25px;
        padding-right: 90px;
        font-size: 14px;
        color: #fff;
    }
    
    .bottom dt {
        padding-bottom: 20px;
    }
    
    .bottom dd {
        padding-top: 8px;
    }
    
    .bottom a {
        color: #fff;
    }
    
    .bottom ul {
        float: right;
        padding-top: 68px;
        font-size: 14px;
        color: #fff;
        text-align: center;
    }
</style>
<div class="bottom">
    <div class="cnt_center">
        <dl>
            <dt>服务介绍</dt>
            <dd>服务流程</dd>
            <dd>产品保修</dd>
            <dd>用户协议</dd>
        </dl>
        <dl>
            <dt>支付方式</dt>
            <dd>支付宝支付</dd>
            <dd>微信支付</dd>
        </dl>
        <dl>
            <dt>服务热线</dt>
            <dd>周一至周五</dd>
            <dd><a href="/home/admin">员工登录</a></dd>
        </dl>
        <ul>
            <li>©2016-2017沪ICP17003602号-1</li>
            <li>上海天禧嘉福信息科技发展有限公司 版权所有</li>
        </ul>
    </div>
</div>