<style>
    .bottom {
        background: #fd7304;
        height: 180px;
    }
.cnt_center {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
}
    .bottom dl {
        float: left;
        padding-top: 25px;
        padding-right: 90px;
        font-size: 14px;
        color: #fff;
    }

    .bottom dt {
        padding-bottom: 20px;
    }

    .bottom ul {
        float: right;
        padding-top: 100px;
        font-size: 14px;
        color: #fff;
    }

  </style>
<div class="bottom">
    <div class="cnt_center">
        <dl>
            <dt>服务介绍</dt>
            <dd>服务流程</dd>
            <dd>产品保修</dd>
            <dd>用户协议</dd>
        </dl>
        <dl>
            <dt>支付方式</dt>
            <dd>支付宝支付</dd>
            <dd>微信支付</dd>
        </dl>
        <dl>
            <dt>服务热线</dt>
            <dd>周一至周五</dd>
        </dl>
        <dl>
            <dt>联系我们</dt>
            <dd>广告与市场合作</dd>
            <dd>联系方式</dd>
            <dd>投诉信箱</dd>
            <dd>招贤纳士</dd>
        </dl>
        <ul>
            <li>@2016 www.projoy 沪ICPxxxxxxx号</li>
            <li>上海天禧嘉福信息科技发展有限公司 版权所有</li>
        </ul>
    </div>
</div>