<style>


.login {
    height: 85px;
}

.login_register {
    padding: 28px 0;
    font-size: 16px;
    text-align: right;
    color: #fff;
}

.login_register .icon {
    display: inline-block;
    width: 24px;
    height:24px;
    background: url(/static/public/img/user2.png) no-repeat;
    background-size: 24px 24px;
    position: relative;
    top:4px;
}

.login_register a {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.nav {
    height: 60px;
    background: #fd7304
}

.cnt_center {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.logo {
    display: inline-block;
    background: url(/static/public/img/logo.jpg);
    width: 300px;
    height: 100%;
}

.nav_bar {
    float: right;
}

.nav_bar a {
    display: inline-block;
    text-align: center;
    color: #fff;
    padding-top: 10px;
    font-size: 14px;
    margin-left: 30px;
}
</style>
<div class="login">
      <div class="cnt_center">
        <div class="login_register">
            <span class="icon"></span>
          <span>会员</span> <a href="/">登陆</a> / <a href="/">注册</a>
        </div>
      </div>
    </div>
    <div class="nav">
      <div class="cnt_center">
        <a href="/" class="logo"></a>
        <div class="nav_bar">
          <a href="/">首页<br><span>HOME</span></a>
          <a href="/">乐慕<br><span>LAMOURSE</span></a>
          <a href="/">前戏<br><span>PROJOY</span></a>
          <a href="/">会员中心<br><span>USER ENTER</span></a>
        </div>
      </div>
    </div>