<style>
    .login {
        height: 91px;
    }
    
    .nav {
        height: 91px;
        background: #4b4b4b
    }
    
    .cnt_center {
        width: 1200px;
        margin: 0 auto;
        height: 100%;
    }
    
    .logo {
        float: left;
        background: url(/static/public/img/logo.jpg);
        width: 295px;
        height: 100%;
    }
    
    .nav_bar {
        padding-left: 72px;
        height: 100%;
        float: left;
        padding-top: 30px;
        box-sizing: border-box;
    }
    
    .nav_bar a {
        display: inline-block;
        text-align: center;
        color: #fff;
        font-size: 16px;
        padding: 4px 0;
        width: 108px;
        text-align: center;
        border-right: 1px solid #ddd;
    }
    
    .nav_bar a:last-child {
        border: none;
    }
</style>
<div class="nav">
    <div class="cnt_center">
        <a href="/" class="logo"></a>
        <div class="nav_bar">
            <a href="/">首页</a>
            <a href="/index/server">服务</a>
            <a href="/index/customer">案例</a>
            <a href="/index/us">了解我们</a>
            <a href="/index/partner">合作伙伴</a>
        </div>
    </div>
</div>