<style>
    .left {
        width: 270px;
        float: left;
    }
    
    .left_info h2 {
        height: 30px;
        line-height: 30px;
        color: #fff;
        padding-left: 18px;
        font-size: 14px;
        background: #000 url(/static/public/img/sbg.jpg) repeat-x center center;
        border-radius: 8px 8px 0 0;
    }
    
    .left ul {
        padding: 10px;
        background: #fff;
        border: 1px solid #eee;
    }
    
    .left ul li {
        padding: 5px 10px;
        font-size: 14px;
        margin: 5px 0;
    }
</style>

<div class="left">
    <div class="left_info">
        <h2>关于我们</h2>
        <ul>
            <li>·公司简介</li>
            <li>·合作伙伴</li>
            <li>·客户案例</li>
        </ul>
    </div>
</div>