.top {
    height: 800px;
}

.login_register .icon {
    background: url(/static/public/img/user.png) no-repeat center center !important;
    background-size: 24px 24px !important;
}

.content_layout {
    width: 100%;
    background: #f4f4f4
}

.content {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    zoom: 1;
}

.content_bar {
    width: 30%;
    float: left;
    padding-top: 50px;
    height: 350px;
    margin: 0 1.5%;
    background: none no-repeat center 50px;
    position: relative;
}

.content_bar_1 {
    background-image: url(/static/public/img/1.png)
}

.content_bar_2 {
    background-image: url(/static/public/img/2.png)
}

.content_bar_3 {
    background-image: url(/static/public/img/3.png)
}

.content_bar h2 {
    padding-top: 120px;
    text-align: center;
    font-size: 18px;
}

.content_bar ul {
    padding-top: 20px;
}

.content_bar li {
    font-size: 14px;
    padding: 6px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.circle {
    position: absolute;
    width: 6px;
    height: 6px;
    background: #fd7304;
    border-radius: 100%;
    left: -12px;
    top: 227px;
}

.nav_2 {
    height: 56px;
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 20px;
    text-align: center;
}

.nav_2 a {
    display: inline-block;
    width: 180px;
    font-size: 16px;
    color: #fd7303;
    padding-top: 15px;
    text-align: center;
}

.cnt2_img {
    width: 1920px;
    height: 600px;
    background: url(/static/public/img/bt.jpg) no-repeat center center;
    background-size: 100% 100%;
    position: relative;
    left: 50%;
    margin-left: -960px;
}

.cnt3_img {
    width: 1920px;
    height: 293px;
    background: url(/static/public/img/bt2.jpg) no-repeat center center;
    background-size: 100% 100%;
    position: relative;
    left: 50%;
    margin-left: -960px;
}

.slider_layout {
    height: 708px;
    width: 1920px;
    position: relative;
    left: 50%;
    margin-left: -960px;
}

.bes_info {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    zoom: 1;
    margin-bottom: 30px;
}

.bes_info_left {
    width: 830px;
    float: left;
}

.bes_info_left dl {
    float: left;
    margin-right: 4px;
    position: relative;
}

.bes_info_left dt {
    width: 272px;
    height: 69px;
    margin-bottom: 15px;
}

.bes_info_left dt span {
    font-size: 20px;
}

.bes_info_left dd {
    font-size: 16px;
    position: relative;
    padding-top: 20px;
    padding-left: 20px;
}

.bes_info_left .hz2 {
    position: absolute;
    left: 90px;
    top: 84px;
}

.bes_info_left dd span {
    position: absolute;
    left: 10px;
    top: 30px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #000;
}

.bes_info_right {
    float: right;
}

.bes_info_right h2 {
    text-align: center;
    padding: 20px 0 10px 0;
}

.bes_info_right img {
    border: 1px solid #eee;
}


/* jssor slider bullet navigator skin 01 css */


/*
        .jssorb01 div           (normal)
        .jssorb01 div:hover     (normal mouseover)
        .jssorb01 .av           (active)
        .jssorb01 .av:hover     (active mouseover)
        .jssorb01 .dn           (mousedown)
        */

#jssor_1 {
    height: 708px !important;
}

.jssorb01 {
    position: absolute;
    left: 50%;
    margin-left: -39px;
}

.jssorb01 div,
.jssorb01 div:hover,
.jssorb01 .av {
    position: absolute;
    /* size of bullet elment */
    width: 12px;
    height: 12px;
    filter: alpha(opacity=70);
    opacity: .7;
    overflow: hidden;
    cursor: pointer;
    border-radius: 100%;
}

.jssorb01 div {
    background-color: #aaa;
}

.jssorb01 div:hover,
.jssorb01 .av:hover {
    background-color: #d3d3d3;
}

.jssorb01 .av {
    background-color: #fff;
}

.jssorb01 .dn,
.jssorb01 .dn:hover {
    background-color: #555555;
}


/* jssor slider arrow navigator skin 05 css */


/*
        .jssora05l                  (normal)
        .jssora05r                  (normal)
        .jssora05l:hover            (normal mouseover)
        .jssora05r:hover            (normal mouseover)
        .jssora05l.jssora05ldn      (mousedown)
        .jssora05r.jssora05rdn      (mousedown)
        .jssora05l.jssora05lds      (disabled)
        .jssora05r.jssora05rds      (disabled)
        */

.jssora05l,
.jssora05r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url(../img/a17.png) no-repeat;
    overflow: hidden;
}

.jssora05l {
    background-position: -10px -40px;
}

.jssora05r {
    background-position: -70px -40px;
}

.jssora05l:hover {
    background-position: -130px -40px;
}

.jssora05r:hover {
    background-position: -190px -40px;
}

.jssora05l.jssora05ldn {
    background-position: -250px -40px;
}

.jssora05r.jssora05rdn {
    background-position: -310px -40px;
}

.jssora05l.jssora05lds {
    background-position: -10px -40px;
    opacity: .3;
    pointer-events: none;
}

.jssora05r.jssora05rds {
    background-position: -70px -40px;
    opacity: .3;
    pointer-events: none;
}


/* jssor slider thumbnail navigator skin 11 css */


/*.jssort11 .p            
         (normal).jssort11 .p:hover      (normal mouseover).jssort11 .pav         
          (active).jssort11 .pav:hover    (active mouseover).jssort11 .pdn          
          (mousedown)*/

#jssort11 {
    top: 620px !important;
    left: 50% !important;
    margin-left: -600px;
}

.jssort11 .p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 92px;
    background: rgba(0, 0, 0, 0);
}

.jssort11 .tp {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 8px solid;
}

.jssort11 [data-u="slides"] div:nth-child(2) .tp {
    border-bottom-color: #fd7303;
}

.jssort11 [data-u="slides"] div:nth-child(3) .tp {
    border-bottom-color: #fffb81;
}

.jssort11 [data-u="slides"] div:nth-child(4) .tp {
    border-bottom-color: #b93617;
}

.jssort11 [data-u="slides"] div:nth-child(5) .tp {
    border-bottom-color: #4c1409;
}

.jssort11 .i,
.jssort11 .pav:hover .i {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 60px;
    height: 30px;
    border: white 1px dashed;
}

* html .jssort11 .i {
    width/**/
    : 62px;
    height/**/
    : 32px;
}

.jssort11 .pav .i {
    border: white 1px solid;
}

.jssort11 .t,
.jssort11 .pav:hover .t {
    width: 100%;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    padding-top: 20px;
}

.jssort11 .pav .t,
.jssort11 .p:hover .t {
    color: #fff;
}

.jssort11 .c,
.jssort11 .pav:hover .c {
    width: 100%;
    text-align: center;
    height: 32px;
    line-height: 32px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
}

.jssort11 .pav .c,
.jssort11 .p:hover .c {
    color: #fff;
}

.jssort11 .t,
.jssort11 .c {
    transition: background 2s;
    -moz-transition: background 2s;
    -webkit-transition: background 2s;
    -o-transition: background 2s;
}

.jssort11 .p:hover .t,
.jssort11 .pav:hover .t,
.jssort11 .p:hover .c,
.jssort11 .pav:hover .c {
    transition: background 2s;
    -moz-transition: background 2s;
    -webkit-transition: background 2s;
    -o-transition: background 2s;
}

.jssort11 .p:hover,
.jssort11 .pav:hover {
    background: rgba(0, 0, 0, 0.3);
}

.jssort11 .pav,
.jssort11 .p.pdn {
    background: rgba(0, 0, 0, 0.5);
}