.info {
    position: relative;
    text-align: center;
}

.content {
    width: 1200px;
    margin: 0 auto;
    padding: 45px 0;
    overflow: hidden;
    zoom: 1;
}

.content h2 {
    color: #fd7303;
    text-align: center;
    font-size: 30px;
    padding-bottom: 32px;
}

.parent {
    width: 100%;
    box-sizing: border-box;
    background: #fff;
}

.part {
    width: 400px;
    float: left;
    padding-bottom: 70px;
    padding-left: 20px;
    box-sizing: border-box;
}

.part dl {
    position: relative;
    width: 360px;
}

.part .job {
    display: table;
    position: absolute;
    width: 95px;
    height: 95px;
    background: #eee;
    border: 2px solid #fff;
    text-align: center;
    border-radius: 50%;
    right: 18px;
    top: 130px;
}

.part .job p {
    vertical-align: middle;
    display: table-cell;
    font-size: 16px;
    font-weight: 400;
    color: #999;
}

.part .job span {
    display: block;
    font-weight: normal;
    color: #333;
}

.part .icon {
    display: block;
    text-align: center;
    padding-top: 10px;
    width: 100%;
    overflow: hidden;
    background: #eee;
    border-radius: 20px;
}

.part .icon img {
    vertical-align: bottom;
}

.part .des {
    width: 100%;
    white-space: normal;
    word-break: break-all;
    line-height: 28px;
    font-size: 16px;
    color: #737373;
    padding: 50px 36px 0;
    background: #eee;
    border-radius: 20px;
    height: 268px;
    overflow: hidden;
    box-sizing: border-box;
    text-justify: inter-ideograph;
    text-align: justify;
}