<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>天禧嘉福 | 企业文化</title>
    <%include inc/head.html%>

  <link rel="stylesheet" href="/static/public/css/culture.css">
</head>
<body>
    <div class="top">
        <%include inc/header.html%>
        <div class="info">
            <div class="info_ly">
                <div class="part part1">
                    <p><span class="plug">+</span>企业文化</p>
                    <img src="/static/public/img/wh1.png" alt="">
                    <p class="part_right">在沉默中深思 在深思中奋进</p>
                </div>
                <div class="part part2">
                    <p><span class="plug">+</span>愿景</p>
                    <p class="center">L’AMOUROSE，为用户创造极致的情趣享受体验<br>
                    PROJOY，让更多人体验极致的情趣生活<br>
                    无情趣不生活，让世界感受情趣生活方式的美妙</p>   

                </div>
                <div class="part part3">
                    <p><span class="plug">+</span>使命</p>
                    <p class="center">使产品和服务融入人们的生活，为人们带来便捷和愉悦；<br>
                    关注不同抵御、不同群体，并针对不同对象提供差异化的产品和服务；<br>
                    价值观：一起拼搏、一起成就、一起分享。
                    经营理念：以人为本，顺势而为。</p>
                </div>
            </div>
        </div>
    </div>
    <%include inc/footer.html%>
</body>
</html>