<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>天禧嘉福 | 了解我们</title>
    <%include inc/head.html%>
        <link rel="stylesheet" href="/static/public/css/us.css">
</head>

<body>
    <div class="top">
        <%include inc/header.html%>
    </div>
    <div class="content">
        <%include inc/menu.html%>
            <div class="right">
                <h3>天禧嘉福</h3>
                <p>致力于全球电商市场，产品销售覆盖欧洲、北美、日韩等，携全球精英管理团队，斥巨资全力打造一个全球知名的电商服务企业。</p>
                <p>目前公司主要五大业务板块如下：</p>
                <ul>
                    <li>1. 基于大数据分析互联网消费习惯</li>
                    <li>2. 成人用品商品开发设计</li>
                    <li>3. 医疗器械品类供应链资源整合</li>
                    <li>4. 网络预售、全网全渠道的销售模式</li>
                    <li>5. 多品牌管理，覆盖全互联网消费人群</li>
                </ul>
            </div>
    </div>
    <%include inc/footer.html%>
</body>

</html>