<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>天禧嘉福 | 发展历史</title>
    <%include inc/head.html%>
    <link rel="stylesheet" href="/static/public/css/history.css">
</head>
<body>
    <div class="top">
        <%include inc/header.html%>
        <div class="bg">
            <div class="info"></div>
        </div>
    </div>
    <div class="content">

        <%list.forEach(function(item){%>
            <div class="part">
                <span class="line"></span>
                <span class="year"><%=item.year%>年</span>
                <span class="month"><%=item.month%>月</span>
                <span class="info"><%=item.info%></span>
            </div>
        <%})%>
    </div>
    <%include inc/footer.html%>
</body>
</html>