<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>天禧嘉福 | 企业介绍</title>
    <%include inc/head.html%>
        <link rel="stylesheet" href="/static/public/css/info.css">
</head>

<body>
    <div class="top">
        <%include inc/header.html%>
            <div class="info">
                <div class="info_ly">
                    <div class="part part1">
                        <div class="img">
                            <img src="/static/public/img/wh1.jpg" width="100%" alt="">
                        </div>
                        <p class="title"><span class="plug">+</span>企业信息</p>
                        <p class="subtitle">一起拼搏、一起成就、一起分享</p>
                        <p class="desc">作为中国领先的多渠道电子商务技术及代运营服务提供商，致力于通过专业全面的系统平台技术、增值服务和行业运营经验帮助传统品牌商或渠道商 简单易捷地实现电子商务业务！在帮助企业开发新渠道新市场的同时，进一步解决其交易管理、精准营销、高效供应、品类优化等难题，助其提升市场份 额、扩大经营业绩！
                        </p>
                    </div>
                    <div class="part part2">
                        <p class="title"><span class="plug">+</span>企业文化</p>
                        <p class="threerdtitle">愿景</p>
                        <p class="center"> L’AMOUROSE，为用户创造极致的情趣享受体验PROJOY，让更多人体验极致的情趣生活无情趣不生活，让世界感受情趣生活方式的美妙。
                        </p>
                        <p class="threerdtitle">使命</p>
                        <p class="center"> 使产品和服务融入人们的生活，为人们带来便捷和愉悦；关注不同抵御、不同群体，并针对不同对象提供差异化的产品和服务；
                        </p>
                    </div>
                </div>
            </div>
            <div class="bg">
                <div class="topimg"></div>
            </div>
    </div>
    <div class="content_lay">


        <div class="content">

            <%list.forEach(function(item){%>
                <div class="part">
                    <span class="line"></span>
                    <span class="year"><%=item.year%>年</span>
                    <span class="month"><%=item.month%>月</span>
                    <span class="info"><%=item.info%></span>
                </div>
                <%})%>
        </div>
    </div>
    <%include inc/footer.html%>
</body>

</html>