<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>天禧嘉福 | 线上渠道</title>
    <%include inc/head.html%>

        <link rel="stylesheet" href="/static/public/css/channel.css">
</head>

<body>
    <div class="top">
        <%include inc/header.html%>
            <div class="title">
                <h2>线上渠道</h2>
                <p>多维度运营  推动互联网电商行业健康发展 </p>
            </div>
            <div class="info">
                <div class="info_ly">
                   
                </div>
            </div>
    </div>
    <%include inc/footer.html%>
</body>

</html>