<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>天禧嘉福 | 服务介绍</title>
    <%include inc/head.html%>
        <link rel="stylesheet" href="/static/public/css/server.css">
</head>

<body>
    <div class="top">
        <%include inc/header.html%>
    </div>
    <div class="content">
        <div class="left">
            <p class="text">上海天禧嘉福信息科技发展有限公司成立于2008年6月6日。一家集生产、推广、销售为一体的全供应链公司， 致力于全球电商市场，产品销售覆盖欧洲、北美、日韩等，携全球精英管理团队，斥巨资全力打造一个全球知名 的电商服务企业。
            </p>
            <div class="part">
                <h2 class="title">天禧嘉福定位及品类规划</h2>
                <div class="info">
                    <ul>
                        <li>品牌对接</li>
                        <li>入驻管理</li>
                        <li>信息化管理</li>
                    </ul>
                    <ul>
                        <li>商品研发</li>
                        <li>商品生产</li>
                        <li>商品销售</li>
                    </ul>
                    <ul>
                        <li>商品上线</li>
                        <li>库存管理</li>
                        <li>订单管理</li>
                    </ul>
                    <ul>
                        <li>会员营销</li>
                        <li>大数据挖掘</li>
                    </ul>
                </div>
            </div>
            <div class="part">
                <h2 class="title">天禧嘉福电商全网运营</h2>
                <div>
                    <img src="/static/public/img/ser1.jpg" alt="">
                </div>
            </div>
            <div class="part">
                <h2 class="title">多渠道电子商务营销与推广</h2>
                <div>
                    <img src="/static/public/img/ser2.jpg" alt="">
                </div>
            </div>
            <div class="part">
                <h2 class="title">多渠道电子商务运营管理及平台维护</h2>
                <div>
                    <img src="/static/public/img/ser3.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="right">
            <div class="right_info">
                <h2>服务咨询</h2>
                <p>服务中心业务咨询：</p>
                <p class="phone">021-61921165 <br>projoy@wellwishings.com</p>
            </div>
        </div>
    </div>
    <%include inc/footer.html%>
</body>

</html>