<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>天禧嘉福 | 了解我们</title>
    <%include inc/head.html%>
        <link rel="stylesheet" href="/static/public/css/partner.css">
</head>

<body>
    <div class="top">
        <%include inc/header.html%>
    </div>
    <div class="content">
        <%include inc/menu.html%>
            <div class="right">
                <img src="/static/public/img/partner.png" alt="">
            </div>
    </div>
    <%include inc/footer.html%>
</body>

</html>