<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>天禧嘉福 | 企业信息</title>
    <%include inc/head.html%>
    <link rel="stylesheet" href="/static/public/css/info.css">
</head>
<body>
    <div class="top">
        <%include inc/header.html%>
        <div class="info">
            <div class="info2"></div>
        </div>
    </div>
    <div class="content">
        <p>上海天禧嘉福信息科技发展有限公司是一家集情趣产品、情趣文化、情趣生活于一体的专业性情趣生活公司。旗下拥有法国L’AMOUROSE和英国PROJOY两大国际情趣品牌，总部公司位于香港，并在法国、英国、日本分别设立产品研发中心。</p>
        <table class="table">
            <tr>
                <td class="title">公司名称：</td>
                <td>上海天禧嘉福信息科技发展有限公司</td>
            </tr>
            <tr>
                <td class="title">外文名称：</td>
                <td>Shanghai Wellwishings Information Technology Development Co., Ltd.</td>
            </tr>
            <tr>
                <td class="title">成立时间：</td>
                <td>2008年6月6日</td>
            </tr>
            <tr>
                <td class="title">公司口号：</td>
                <td>在沉默中深思，在深思中奋进</td>
            </tr>
            <tr>
                <td class="title">企业愿景：</td>
                <td>颠覆中国电商圈，成为中国首选的电商服务商</td>
            </tr>
            <tr>
                <td class="title">企业使命：</td>
                <td>足不出户 把世界带回家，通过电商提供人类生活品质</td>
            </tr>
            <tr>
                <td class="title">总部地点：</td>
                <td>上海市</td>
            </tr>
            <tr>
                <td class="title">创办人：</td>
                <td>刘虎林</td>
            </tr>
            <tr>
                <td class="title">员工数：</td>
                <td>50-100</td>
            </tr>
            <tr>
                <td class="title">注册资本：</td>
                <td>800万元人民币</td>
            </tr>
            <tr>
                <td class="title">公司类型：</td>
                <td>有限责任公司</td>
            </tr>
            <tr>
                <td class="title">登记机关：</td>
                <td>上海市静安区市场监督管理局</td>
            </tr>
            <tr>
                <td class="title">成立日期：</td>
                <td>39605</td>
            </tr>
            <tr>
                <td class="title">营业期限：</td>
                <td>2008年6月6日至2028年6月5日</td>
            </tr>
            <tr>
                <td class="title">经营范围：</td>
                <td>在信息科技、通信设备、电子产品、计算机软硬件专业领域内从事技术开发、技术咨询、技术服务、技术转让，通信设备、计算机软硬件、电子产品、机电设备、仪器仪表、办公用品、玩具、塑料制品、服装服饰、鞋帽、家用电器、化妆品、卫生用品、日用百货的销售，商务信息咨询，电脑图文设计制作，从事货物及技术进出口业务。</td>
            </tr>
        </table>
    </div>
    <%include inc/footer.html%>
</body>
</html>