<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>天禧嘉福 | 服务介绍</title>
    <%include inc/head.html%>
        <link rel="stylesheet" href="/static/public/css/server.css">
</head>

<body>
    <div class="top">
        <%include inc/header.html%>
            <div class="title">
                <h2>服务介绍</h2>
                <p>完善组织架构 精益运作管理<br/>专项服务机制 业务深度协同</p>
            </div>
    </div>
    <div class="content">
        <div class="part1">
            <p>天禧嘉福对广大会员做出四项承诺</p>
            <img src="/static/public/img/s1.jpg">
        </div>
    </div>
    <div class="content2">
        <div class="content2_ly">
            <div class="part2 title">
                <h2>购买流程</h2>
                <p>点击进入LAMOUROSE成人用品旗舰店<br><span style="font-size:14px;">温馨提示：关注店铺 获得最新消息</span>
                </p>
                <img src="/static/public/img/s2.jpg">
                <h2 style="font-size:16px;">活动函：LAMOUROSE不定期更新活动 享受更多优惠</h2>
                <p>点击进入PROJOY成人用品旗舰店<br><span style="font-size:14px;">温馨提示：关注店铺 获得最新消息</span>
                </p>
                <img src="/static/public/img/s3.jpg">
            </div>
        </div>
    </div>
    <div class="content3">
        <div class="title">
            <h2>产品保修</h2>
            <p>法国乐慕产品保修</p>
            <p>18个月质保服务 </p>
            <p>所有的乐慕产品都通过了严密的质量检测，但在极少数情况下可能会有制造缺陷。自购买之日起长达18个月内，乐慕为产品的所有制造缺陷保修。 请在保质期内告知乐慕，乐慕会决定是否免费更换产品。此质保服务并不包含意外事故导致的损坏，人为因素导致和不正确的使用而导致的损坏， 以及非授权的经销商、技术员、顾客服务中心自行拆修导致的损坏。
            </p>
            <p>在质保期间，请妥善保管您的原始购买凭证和乐慕产品授权卡。所有产品质保投诉必须是已付费方式快递至乐慕。乐慕不会承担运输费用。请致信 customercare@lamourose.com 或者拨打客户服务中心以获得离您最近的收件地址。</p>
            <p>终生保固服务</p>
            <p>乐慕的终生保固服务自您的产品超过18个月保修期以后开始。这项保固政策，使产品的持有者在www.lamourose.com重新购买这款产品时，享 有50%的折扣。 如果您的乐慕产品在18个月后产生瑕疵，请致信customercare@lamourose.com联系乐慕的顾客服务。 乐慕的终生保固服务 只有您的产品在www.lamourose.com注册后才生效。请查看FAQ相关章节或产品注册页签以获得更多关于产品如何注册的细节。
            </p>
        </div>
    </div>
    <%include inc/footer.html%>
</body>

</html>