<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>天禧嘉福  |  首页</title>
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/reset.css">
</head>
<body>
    <div class="top">
        <div class="login">
          <div class="cnt_center">
            
          </div>
        </div>
        <div class="nav">
          <div class="cnt_center">
            <a href="/" class="logo"></a>
            <div class="nav_bar">
              <a href="/">首页<br>HOME</a>
              <a href="/">乐慕<br>LAMOURSE</a>
              <a href="/">前戏<br>PROJOY</a>
              <a href="/">会员中心<br>USER ENTER</a>
            </div>
          </div>
        </div>
        <div class="slider">
          <div class="cnt_center">
            
          </div>
        </div>
    </div>
    <div class="content">
      <div class="content_bar content_bar_1">
        <span class="circle"></span>
        <h2>综合</h2>
        <ul>
          <li>的撒旦撒倒萨倒萨阿斯顿的撒旦撒倒萨倒萨阿斯顿的撒旦撒倒萨倒萨阿斯顿</li>
          <li>的撒旦撒倒萨倒萨阿斯顿的撒旦撒倒萨倒萨阿斯顿的撒旦撒倒萨倒萨阿斯顿</li>
          <li>的撒旦撒倒萨倒萨阿斯顿的撒旦撒倒萨倒萨阿斯顿的撒旦撒倒萨倒萨阿斯顿</li>
          <li>的撒旦撒倒萨倒萨阿斯顿的撒旦撒倒萨倒萨阿斯顿的撒旦撒倒萨倒萨阿斯顿</li>
          <li>的撒旦撒倒萨倒萨阿斯顿的撒旦撒倒萨倒萨阿斯顿的撒旦撒倒萨倒萨阿斯顿</li>
        </ul>
      </div>
      <div class="content_bar content_bar_2">
        <span class="circle"></span>
        <h2>公共</h2>
        <ul>
          <li>的撒旦撒倒萨倒萨阿斯顿的撒旦撒倒萨倒萨阿斯顿的撒旦撒倒萨倒萨阿斯顿</li>
          <li>的撒旦撒倒萨倒萨阿斯顿的撒旦撒倒萨倒萨阿斯顿的撒旦撒倒萨倒萨阿斯顿</li>
          <li>的撒旦撒倒萨倒萨阿斯顿的撒旦撒倒萨倒萨阿斯顿的撒旦撒倒萨倒萨阿斯顿</li>
          <li>的撒旦撒倒萨倒萨阿斯顿的撒旦撒倒萨倒萨阿斯顿的撒旦撒倒萨倒萨阿斯顿</li>
          <li>的撒旦撒倒萨倒萨阿斯顿的撒旦撒倒萨倒萨阿斯顿的撒旦撒倒萨倒萨阿斯顿</li>
        </ul>
      </div>
      <div class="content_bar content_bar_3">
        <span class="circle"></span>
        <h2>新闻</h2>
        <ul>
          <li>的撒旦撒倒萨倒萨阿斯顿的撒旦撒倒萨倒萨阿斯顿的撒旦撒倒萨倒萨阿斯顿</li>
          <li>的撒旦撒倒萨倒萨阿斯顿的撒旦撒倒萨倒萨阿斯顿的撒旦撒倒萨倒萨阿斯顿</li>
          <li>的撒旦撒倒萨倒萨阿斯顿的撒旦撒倒萨倒萨阿斯顿的撒旦撒倒萨倒萨阿斯顿</li>
          <li>的撒旦撒倒萨倒萨阿斯顿的撒旦撒倒萨倒萨阿斯顿的撒旦撒倒萨倒萨阿斯顿</li>
          <li>的撒旦撒倒萨倒萨阿斯顿的撒旦撒倒萨倒萨阿斯顿的撒旦撒倒萨倒萨阿斯顿</li>
        </ul>
      </div>
    </div>
    <div class="content_2">
        <div class="nav_2">
          <a href="/">性爱工作室</a>
          <a href="/">情趣聊天室</a>
          <a href="/">私密工作室</a>
        </div>
        <div class="cnt2_img">

        </div>
    </div>
    <div class="bottom">
      <div class="cnt_center">
        <dl>
          <dt>服务介绍</dt>
          <dd>服务流程</dd>
          <dd>产品保修</dd>
          <dd>用户协议</dd>
        </dl>
        <dl>
          <dt>支付方式</dt>
          <dd>支付宝支付</dd>
          <dd>微信支付</dd>
        </dl>
        <dl>
          <dt>服务热线</dt>
          <dd>周一至周五</dd>
        </dl>
        <dl>
          <dt>联系我们</dt>
          <dd>广告与市场合作</dd>
          <dd>联系方式</dd>
          <dd>投诉信箱</dd>
          <dd>招贤纳士</dd>
        </dl>
        <ul>
          <li>@2016 www.projoy 沪ICPxxxxxxx号</li>
          <li>上海天禧嘉福信息科技发展有限公司  版权所有</li>
        </ul>
      </div>
    </div>
</body>
</html>
