<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>天禧嘉福 | 首页</title>
    <%include inc/head.html%>
        <link rel="stylesheet" href="/static/public/css/index.css">
        <script src="/static/public/js/jssor.slider.min.js"></script>
        <script>
            jssor_1_slider_init = function(containerId) {
                var jssor_1_options = {
                    $AutoPlay: true,
                    $PauseOnHover: 0,
                    // $SlideshowOptions: {
                    //     $Class: $JssorSlideshowRunner$,
                    //     $Transitions: jssor_1_SlideshowTransitions,
                    //     $TransitionsOrder: 1
                    // },
                    $ThumbnailNavigatorOptions: {
                        $Class: $JssorThumbnailNavigator$,
                        $Cols: 4,
                        $Orientation: 1,
                        $AutoCenter: 1,
                        $Align: 1,

                    },
                    $BulletNavigatorOptions: {
                        $Class: $JssorBulletNavigator$
                    }
                };

                var jssor_1_slider = new $JssorSlider$(containerId, jssor_1_options);

                //responsive code begin
                //you can remove responsive code if you don't want the slider scales while window resizing
                // function ScaleSlider() {

                //     var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
                //     if (refSize) {
                //         refSize = Math.min(refSize, 1920);
                //         jssor_1_slider.$ScaleWidth(refSize);
                //     } else {
                //         window.setTimeout(ScaleSlider, 30);
                //     }
                // }
                // ScaleSlider();
                // $Jssor$.$AddEvent(window, "load", ScaleSlider);
                // $Jssor$.$AddEvent(window, "resize", ScaleSlider);
                // $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
                //responsive code end
            };
        </script>
</head>

<body>
    <div class="top">
        <%include inc/header.html%>
            <div class="slider_layout">

                <div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 1920px; height: 708px; overflow: hidden; visibility: hidden;">
                    <!-- Loading Screen -->
                    <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 1920px; height: 708px; overflow: hidden;">
                        <div data-p="112.50" style="display: none;">
                            <a href="/index/info"><img data-u="image" src="/static/public/img/slider1.jpg" width="1920" /></a>
                            <div data-u="thumb">
                                <div class="t">COMPANY INFORMATION</div>
                                <div class="c">企业简介</div>
                            </div>
                        </div>
                        <div data-p="112.50" style="display: none;">
                            <a href="/index/server"><img data-u="image" src="/static/public/img/slider2.jpg" width="1920" /></a>
                            <div data-u="thumb">
                                <div class="t">SERVICE INTRODUCTION</div>
                                <div class="c">服务介绍</div>
                            </div>
                        </div>
                        <div data-p="112.50" style="display: none;">
                            <a href="/index/team"><img data-u="image" src="/static/public/img/slider3.jpg" width="1920" /></a>
                            <div data-u="thumb">
                                <div class="t">TEAM INTRODUCTION</div>
                                <div class="c">团队介绍</div>
                            </div>
                        </div>
                        <div data-p="112.50" style="display: none;">
                            <a href="/index/channel"><img data-u="image" src="/static/public/img/slider4.jpg" width="1920" /></a>
                            <div data-u="thumb">
                                <div class="t">ONLINE CHANNEL</div>
                                <div class="c">线上渠道</div>
                            </div>
                        </div>
                    </div>
                    <!-- Bullet Navigator -->
                    <div data-u="navigator" class="jssorb01" style="bottom:106px;right:16px;">
                        <div data-u="prototype" style="width:12px;height:12px;"></div>
                    </div>
                    <!-- Thumbnail Navigator -->
                    <div data-u="thumbnavigator" id="jssort11" class="jssort11" style="position:absolute;left:0px;top:653px;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none;width:1200px;height:92px;" data-autocenter="2">
                        <!-- Thumbnail Item Skin Begin -->
                        <div data-u="slides" style="cursor: default;">
                            <div data-u="prototype" class="p">
                                <div data-u="thumbnailtemplate" class="tp"></div>
                            </div>
                        </div>
                        <!-- Thumbnail Item Skin End -->
                    </div>
                </div>

            </div>
    </div>
    <div class="bes_info">
        <div class="bes_info_left">
            <dl>
                <dt><img src="/static/public/img/sp.jpg" alt=""></dt>
                <dd><span></span>医药计生品类</dd>
                <dd><span></span>户外运动品类</dd>
                <dd><span></span>家电影音品类</dd>
                <dd><span></span>地产电商品类</dd>
            </dl>
            <dl>
                <dt><img src="/static/public/img/gyl.jpg" alt=""></dt>
                <dd><span></span>医药计生供应链</dd>
                <dd><span></span>户外运动供应链</dd>
                <dd><span></span>家电影音供应链</dd>
                <dd><span></span>地产电商供应链</dd>
            </dl>
            <dl>
                <dt><img src="/static/public/img/hz.jpg" alt=""></dt>
                <dd><span></span>天猫</dd>
                <dd><span></span>京东</dd>
                <dd><span></span>1号店</dd>
                <dd><span></span>唯品会</dd>
                <dd><span></span>亚马逊</dd>
                <dd><span></span>百度</dd>
                <dd><span></span>PEACEMINUSONE</dd>
                <dl class="hz2">
                    <dd><span></span>淘宝网</dd>
                    <dd><span></span>微信</dd>
                    <dd><span></span>新浪</dd>
                    <dd><span></span>支付宝</dd>
                    <dd><span></span>顺丰</dd>
                    <dd><span></span>360</dd>
                </dl>
            </dl>
        </div>
        <div class="bes_info_right"></div>
    </div>
    <div class="content">
        <div class="content_bar content_bar_1">
            <span class="circle"></span>
            <h2>综合</h2>
            <ul>
                <li>法国乐慕新品抢鲜亮相糖蒜广播十周年庆典</li>
                <li>跳出双11促销红海 法国乐慕的微信品牌推广新玩法</li>
            </ul>
        </div>
        <div class="content_bar content_bar_2">
            <span class="circle"></span>
            <h2>公共</h2>
            <ul>
                <li>2016.11.02 法国乐慕双十一全球大促限时17小时。</li>
                <li>2016.12.06 法国乐慕双十二年终性福盛典48小时大促。</li>
                <li>2016.12.15 PROJOY前戏淘宝企业店正式上线</li>
            </ul>
        </div>
        <div class="content_bar content_bar_3">
            <span class="circle"></span>
            <h2>新闻</h2>
            <ul>
                <li>2014-11-07 2014广州性文化节：法国乐慕（L'amourose）成首日亮点</li>
                <li>2015.02.05派乐茉欢愉套装（Paramour Set）罗辑思维年货市集首发</li>
                <li>2015.04.09第12届上海成人展：法国乐慕智能情趣产品受热捧</li>
                <li>2016.08.19来自英国的情趣潮牌</li>
            </ul>
        </div>
    </div>
    <div class="content_2">
        <div class="nav_2">
            <a href="/">性爱工作室</a>
            <a href="/">情趣聊天室</a>
            <a href="/">私密工作室</a>
        </div>
        <div class="cnt2_img">
            <div class="bt2"></div>
        </div>
    </div>
    <%include inc/footer.html%>
        <script>
            jssor_1_slider_init('jssor_1');
        </script>
</body>

</html>