<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>天禧嘉福 | 了解我们</title>
    <%include inc/head.html%>
        <link rel="stylesheet" href="/static/public/css/customer.css">
</head>

<body>
    <div class="top">
        <%include inc/header.html%>
    </div>
    <div class="content">
        <%include inc/menu.html%>
            <div class="right">
                <div class="part">
                    <h2><img src="/static/public/img/cus1.jpg" alt=""></h2>
                    <p>奇虎360旗下电动车安全品牌，致力于通过提供高品质的安全骑行服务，利用先进的物联网和GPS定位技术，结合云计算随时随地知道你的电动车在哪，随时提醒车辆状态，业务范围包括智能硬件设备、车载互联及网络服务平台等软、硬件整体解决方案。</p>
                </div>
                <div class="part">
                    <h2><img src="/static/public/img/cus2.jpg" alt=""></h2>
                    <p>权志龙旗下个人时尚品牌，致力于引领时尚潮流、开拓超前风格。品牌自诞生以来引起中国高达2500万年轻人群的关注，在亚洲市场广受追捧。</p>
                </div>
                <div class="part">
                    <h2><img src="/static/public/img/cus3.jpg" alt=""></h2>
                    <p>来自英国的情趣潮牌，秉承大不列颠绅士格调和个性真实的特点，致力于为年轻人群提供全方位的情趣生活体验，建立新人类情趣文化。品牌自诞生以来，引起了各国新锐青年人群的关注，尤其在欧美市场受到热力追捧。</p>
                </div>
                <div class="part">
                    <h2><img src="/static/public/img/cus4.jpg" alt=""></h2>
                    <p>源自法国奢侈品牌，寓意“爱的玫瑰”，秉承法国唯美设计、卓越工艺、精致造型，致力提供轻奢情趣体验。尽享私密体验，感受身心愉悦。</p>
                </div>
            </div>
    </div>
    <%include inc/footer.html%>
</body>

</html>